.Homepagecontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    position: relative;
}

.categoriesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 15%;
    width: 100vw;
    background-color: #ffffff;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    padding-left: 10px;
}

.mainBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 79%;
    width: 100vw;
    flex-wrap: nowrap;
    /* background-color: #0817b5; */
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    gap: 10px;
    padding-bottom: 20px;

}

.navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    border-top: 1px solid #615e5e;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.homeLink,.cartLink,.logoutlink{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 10%;
    font-size: 23px;
    /* background-color: #ffffff; */
    text-decoration: none;
    color:#808080;
}

.linkactive{
    color:#088C03;
    /* background-color: #ffffff; */
    font-weight: 600;
}
.homeLink:hover,.cartLink:hover,.logoutlink:hover{
    color:#088C03;
    /* background-color: #ffffff; */
    font-weight: 600;
}























.logoutbutton {
    background-color: #f44336;
    /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.logoutbutton:hover {
    background-color: white;
    /* White */
    color: black;
    /* Black */
    border: 2px solid #f44336;
    /* Red */
}