
.desktophomepageMainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}
.sidebarcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    height: 100%;
}
.sidebarheading{
    font-size: 23px;
    color: #35cb13;
    /* width: 100%; */
    text-align: center;
    font-weight: 500;
}
.sidebarcategorieslist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow-y: auto;
    gap: 0.6rem;
    scrollbar-width: thin;
    scrollbar-color: #35cb13 #ffffff;
}





.desktopproductsdisplaycontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start ;
    width: 80%;
    height: 100%;
    /* background-color: #4a33f8; */
    overflow-y: auto;
    overflow-x: hidden;
}


.loadingcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.errorcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}